<h1><%= t('.reset_password') %></h1>
<p><%= t('.click_below_link') %></p>
<%= link_to "Reset password", password_reset_url(token: @user.reset_token, email: @user.email), target: "_blank" %>
<p><%= t('.expire_time') %></p>
<p><%= t('.ignore_email') %></p>
