<div class="jumbotron deals-container">
  <h2 align="center">Deals</h2>
  <%= form_tag(home_page_path, method: 'get', id: 'search-form', class: 'form-inline search-form') do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Deals By Title or City", class: 'form-control search-input' %>
    <%= collection_select(:category, :category_id, Category.all, :id, :name, {selected: params[:category]&.[](:category_id), include_blank: 'Select Category' },  data: { type: 'select2-enabled' }) %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <% @deals.each do |deal| %>
    <% if deal.published? %>
      <div class="container py-3">
        <div class="card">
          <div class="row">
            <div class="col-md-3">
              <%= link_to image_tag(deal.images.first, class: 'w-100'), deal_path(deal) %>
            </div>
            <div class="col-md-9">
              <div class="card-block">
                <div class="deal-heading">
                  <h3 class="card-title"><%= link_to deal.title, deal_path(deal) %></h3>
                  <span class="badge badge-primary badge-pill"><%= deal.category.name %></span>
                </div>
                <p class="card-text"><b>Description : </b><%= raw deal.description %></p>
                <p class="card-text"><b>Instructions : </b><%= deal.instructions %></p>
                <p class="card-text"><b>Price : </b><%= deal.price %></p>
                <a href="#" class="btn btn-primary">Add To Cart</a>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted deal-card-footer">
            <span>Valid till <%= deal.expire_at.to_formatted_s(:long) %></span>
            <span>Can be redeemed in <%= deal.locations.map{ |location| location.name }.join(', ') %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @deals.count.zero? %>
    <div class="jumbotron">
      <h4 class="display-4">No deals present.</h4>
    </div>
  <% end %>
</div>
<%= javascript_include_tag 'admin/select2_handler' %>
