<% if @line_item.present? %>
  <div class="cart-header">
    <h2>Your cart</h2>
    <%= button_to 'Checkout', checkout_path, method: :get, class: 'btn btn-primary' %>
  </div>
  <div class="container py-3">
    <div class="card">
      <div class="row">
        <div class="col-md-3">
          <%= image_tag(@deal.images.first, class: 'w-100') %>
        </div>
        <div class="col-md-9">
          <div class="card-block">
            <div class="deal-heading">
              <h3 class="card-title"><%= @deal.title %></h3>
              <span class="badge badge-primary badge-pill"><%= @deal.category.name %></span>
              <div class="add-buttons">
                <%= button_to '-', decrement_line_item_path(@line_item), method: :put, class: 'btn btn-danger' %>
                <%= button_to '+', line_items_path(deal_id: @deal), class: 'btn btn-success' %>
            </div>
            </div>
            <p class="card-text"><b>Description : </b><%= raw @deal.description %></p>
            <p class="card-text"><b>Price : </b><%= @line_item.price %></p>
            <p class="card-text"><b>Quantity : </b><%= @line_item.quantity %></p>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted deal-card-footer">
        <span>Valid till <%= @deal.expire_at.to_formatted_s(:long) %></span>
        <span>Can be redeemed in <%= @deal.locations.map{ |location| location.name }.join(', ') %></span>
      </div>
    </div>
  </div>
<% else %>
 <h2 class="cart-header">Your cart is empty.</h2>
<% end %>
