<div class="deal-form">
  <%= form_for [:admin, deal] do |form| %>
    <div class="form-container">
      <div class="field">
        <%= form.label :title , class: 'col-form-label' %>
        <%= form.text_field :title, class: 'form-control', placeholder: 'Enter title' %>
      </div>

      <div class="field">
        <%= form.label :description, class: 'col-form-label' %>
        <%= form.text_area :description, class: 'form-control', placeholder: 'Enter description', id: 'editor', data: { type: 'ck-editor-textarea' } %>
      </div>

      <div class="field">
        <%= form.label :start_at, class: 'col-form-label' %>
        <%= form.datetime_select :start_at, class: 'form-control', placeholder: 'Enter start time' %>
      </div>

      <div class="field">
        <%= form.label :expire_at, class: 'col-form-label' %>
        <%= form.datetime_select :expire_at, class: 'form-control', placeholder: 'Enter expire time' %>
      </div>
      <div data-type="add-more-images-container">
        <div class="field" data-type="add-more-container">
          <%= form.label :images, class: 'col-form-label' %>
          <%= render 'image_container', { deal: deal, form: form }%>
          <%= form.file_field :images, class: 'form-control image-field', name: "deal[images][#{Time.current.to_i}]" %>
          <div class="hidden-input-div" data-type="hidden-input-div">
            <input class="form-control" type="file" data-type="add-more-field" data-model="deal" data-association="images">
          </div>
        </div>
        <input type="button" class="btn btn-primary" value="Add more" data-type="add-more-button" />
      </div>

      <div class="field">
        <%= form.label :price, 'Price:', class: 'col-form-label' %>
        <%= form.text_field :price, class: 'form-control', placeholder: 'Price' %>
      </div>

      <div class="field">
        <%= form.label :instructions, class: 'col-form-label' %>
        <%= form.text_area :instructions, class: 'form-control', placeholder: 'Enter instructions' %>
      </div>

      <%= form.fields_for :deals_locations do |deals_location_form| %>
        <%= deals_location_form.label 'Locations', class: 'col-form-label' %>
        <%= deals_location_form.collection_select :location_id, Location.all, :id, :name, { prompt: true }, class: 'form-control', data: { type: 'select2-enabled' } %>
        <div class="field">
          <%= deals_location_form.label :finite_deal_quantity, class: 'col-form-label' %>
          <%= deals_location_form.check_box :finite_deal_quantity, class: 'checkbox enable-check' %>
        </div>
        <div class="field">
          <%= deals_location_form.label 'Total quantity', class: 'col-form-label' %>
          <%= deals_location_form.text_field :total_deals, class: 'form-control checked-text', placeholder: 'Enter total deal available', disabled: true %>
        </div>
      <% end %>

      <% if deal.persisted? %>
        <%= form.fields_for :deals_locations, deal.deals_locations.build do |deals_location_form| %>
          <%= deals_location_form.label 'Locations', class: 'col-form-label' %>
          <%= deals_location_form.collection_select :location_id, Location.all, :id, :name, { prompt: true }, class: 'form-control', data: { type: 'select2-enabled' } %>
          <div class="field">
            <%= deals_location_form.label :finite_deal_quantity, class: 'col-form-label' %>
            <%= deals_location_form.check_box :finite_deal_quantity, class: 'checkbox enable-check' %>
          </div>
          <div class="field">
            <%= deals_location_form.label 'Total quantity', class: 'col-form-label' %>
            <%= deals_location_form.text_field :total_deals, class: 'form-control checked-text', placeholder: 'Enter total deal available', disabled: true %>
          </div>
        <% end %>
      <% end %>

      <div class="field">
        <%= form.label 'Category', class: 'col-form-label' %>
        <%= form.collection_select(:category_id, Category.all, :id, :name, {}, { class: 'form-control', data: { type: 'select2-enabled' } }) %>
      </div>

    </div>
    <div class="actions">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', admin_deals_path %>
<%= javascript_include_tag 'admin/rich_html_editor_handler' %>
<%= javascript_include_tag 'admin/select2_handler' %>
<%= javascript_include_tag 'admin/image_destroy_handler' %>
<%= javascript_include_tag 'admin/multiple_input_field_handler' %>

<script type="text/javascript">

$(function(){
  $(".enable-check").change(function(){
    if($(".enable-check").prop("checked") == true){
      $(".checked-text").prop("disabled", false);
    }
    else {
      $(".checked-text").prop("disabled", true);
    }
  });
});

</script>
