<h1 class="deal-title">Deals</h1>
<div class="corner-button">
  <%= button_to 'New Deal', new_admin_deal_path, method: :get, class: 'btn btn-primary' %>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Start Time</th>
      <th scope="col">Expire Time</th>
      <th scope="col">Published At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @deals.each do |deal| %>
      <tr class="<%= cycle('table-primary', 'table-secondary') -%>">
        <th scope="row"><%= deal.title %></th>
        <td><%= truncate(deal.description, length: 15) %></td>
        <td><%= deal.price %></td>
        <td><%= deal.start_at.to_formatted_s(:long) %></td>
        <td><%= deal.expire_at.to_formatted_s(:long) %></td>
        <% if deal.published_at.present? %>
          <td data-type="deal-date" data-id="<%= deal.id %>"><%= deal.published_at.to_formatted_s(:long) %></td>
        <% else %>
          <td data-type="deal-date" data-id="<%= deal.id %>">-</td>
        <% end %>
        <td data-type="actions-container">
          <%= link_to 'Show', [:admin, deal] %> |
          <%= link_to 'Edit', edit_admin_deal_path(deal) %> |
          <%= link_to 'Destroy', [:admin, deal], method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-link' %> |
          <% if deal.published_at.nil? %>
            <a href="" data-type="publish-link" data-id="<%= deal.id %>" data-publish-url="/admin/deals/publish" data-unpublish-url="/admin/deals/unpublish">Publish</a>
          <% else %>
            <a href="" data-type="unpublish-link" data-id="<%= deal.id %>" data-publish-url="/admin/deals/publish" data-unpublish-url="/admin/deals/unpublish">Unpublish</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= javascript_include_tag 'admin/publish_ajax_handler' %>
